<div class="review-single-cnt">

	<div class="big-review-frame">

		<div class="big-review-card">

			<span class="big-movie-title">{{movie.title}}</span>
			<img src="{{movie.img}}" alt="{{title}}" class="rev-poster" />

		</div>

		<div class="big-text-cnt">

			<span class="reviews-by">CHECK OUT OUR MEMBER TAKES ON THIS FILM{{reviewedTitle.title}}</span>

			<div class="user-frame-cnt">

				{{#each reviews}}

					<span class="users-reviews">
						<a
							href="/reviews/user-review/{{_id}}"
							class="user-li-review"
						>{{reviewedBy.username}}</a>
					</span>

				{{/each}}
			</div>

		</div>

	</div>

</div>