<div class="review-single-cnt">

	<div class="big-review-frame">

		<div class="big-review-card">

			<span class="big-movie-title">{{movie.title}}</span>

		</div>

		<div class="big-text-cnt">

			<span class="reviews-by">USER REVIEWS:</span>

			<div class="user-frame-cnt">

				{{#each reviews}}
					<span class="users-reviews">{{rating}}-{{review}}</span>

					<span class="users-reviews">{{reviewedBy.username}}</span>

					<span class="users-reviews">{{reviewedTitle.title}}</span>

					<span class="users-reviews">{{_id}}</span>
				{{/each}}
			</div>

		</div>

	</div>

</div>