<div class="review-main-cnt">

	<div class="review-frame">

		<form
			action="/reviews/write-review/{{loginId}}"
			method="post"
			class="review-form"
		>
			<span class="user-create-hi">Give us your take, {{user.username}}</span>
			<input type="text" name="reviewedBy" value="{{user._id}}" hidden />

			<select name="reviewedTitle" class="select-title">
				<option disabled selected>Choose Movie To Review</option>
				{{#each movies}}
					<option value="{{_id}}">{{title}}</option>
				{{/each}}
			</select>

			<select name="rating" name="rating" class="rating-box">
				<option disabled selected>Choose a Rating</option>
				<option value="1" name="rating">1</option>
				<option value="2" name="rating">2</option>
				<option value="3" name="rating">3</option>
				<option value="4" name="rating">4</option>
				<option value="5" name="rating">5</option>
				<option value="6" name="rating">6</option>
				<option value="7" name="rating">7</option>
				<option value="8" name="rating">8</option>
				<option value="9" name="rating">9</option>
				<option value="10" name="rating">10</option>
			</select>

			<textarea name="review" cols="30" rows="20" class="review-box"></textarea>
			<div class="post-cnt">

				<input type="submit" value="Post Review" class="post-review" />
			</div>
		</form>

	</div>
</div>